{% extends 'common/base.html' %}
{% load static %}
{% block content %}


    {% if registered %}

        <div class="container">
            <h1 class="text-center">Thank you for registering!</h1>
            {% else %}
            <h1 class="text-center">Register Here!</h1>

            <h1 class="text-center">Fill out the form:</h1>

            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-6">


                    <form method="POST" enctype="multipart/form-data" class="furniture-form">

                        {% csrf_token %}
                        {{ user_form.as_p }}
                        {{ profile_form.as_p }}

                        <div class="col-lg-6">

                            <button class="btn btn-primary mt-2" type="submit">Register</button>

                        </div>
                    </form>


                </div>

                <div class="col-lg-3"></div>
            </div>
        </div>

    {% endif %}



{% endblock %}


