{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom:2%">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <a class="nav-link" href="{% url 'common:index' %}">Home</a>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'travel:all_photos' %}">All Photos</a>
            </li>


            <li class="nav-item">
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'travel:all_photos' %}">

                                 {% if profile.userprofileinfo.profile_pic %}
                            <img src={{ profile.userprofileinfo.profile_pic.url }} width="30" height="30" alt="">

            {% else %}
                            <img src="/static/generic_profile_pic.png" width="30" height="30" alt="">


        {% endif %}



                        </a>
                    </li>
                    <a class="nav-link" href="{% url 'accounts:my_profile' pk=user.pk %}">Welcome, {{ user }}! </a>


                    <li class="nav-item">
                        <a id="welcome_user" class="nav-link" href="{% url 'accounts:user_logout' %}">Sign out</a>
                    </li>


                {% else %}
                    <a class="nav-link" href="{% url 'accounts:user_login' %}">Sign in</a>



                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:register' %}">Sign Up</a>
                    </li>
                {% endif %}

        </ul>
    </div>
</nav>


